@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url("background.jpg");
    background-position: center;
}

/*-------MENU!-------*/
#hdr1 {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#img1 {
    height: 60px;
    width: 60px;
    margin-left: 20px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#h1 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: #00fff2;
}

#div1 {
    display: flex;
    align-items: center;
}

#li1 {
    color: black;
    display: inline-block;
    list-style: none;
    margin-right: 20px;
    padding: 10px 5px 10px 5px;
    font-weight: bold;
    font-size: 16px;
}

#a1 {
    color: black;
    text-decoration: none;
}

#a1:hover {

    color: rgba(0, 0, 0, 0.562);
}

#li2 {
    color: #00fff2;
    display: inline-block;
    list-style: none;
    margin-right: 20px;
    padding: 10px 10px 10px 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: #00fff248;
    border-radius: 16px;
    cursor: pointer;
}

#a2 {
    color: #00fff2;
    text-decoration: none;
}

#a2:hover {
    color: #00fff27a;
}

/*--------S1000RR--------*/
#divM {
    display: flex;
}

#div2 {
    background-color: gray;
    width: 390px;
    margin-top: 50px;
    margin-left: 50px;
    border-radius: 20px;
    padding-bottom: 40px;
}

#img2 {
    height: 220px;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 20px;
    box-shadow: 8px 6px 8px 6px rgba(0, 0, 0, 0.349);
}

#h2 {
    margin-top: 20px;
    margin-left: 20px;
    font-family: "Bebas Neue", sans-serif;
}

#p1 {
    margin-left: 20px;
    margin-top: 40px;
    font-family: "Bebas Neue", sans-serif;
}

/*---------AFRICATWIN--------*/
#div3 {
    background-color: gray;
    width: 390px;
    margin-top: 50px;
    margin-left: 50px;
    border-radius: 20px;
    padding-bottom: 40px;
}

#img3 {
    height: 220px;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 20px;
    box-shadow: 8px 6px 8px 6px rgba(0, 0, 0, 0.349);
}

#h3 {
    margin-top: 20px;
    margin-left: 20px;
    font-family: "Bebas Neue", sans-serif;
}

#p2 {
    margin-left: 20px;
    margin-top: 40px;
    font-family: "Bebas Neue", sans-serif;
}

/*--------TMAX--------*/
#div4 {
    background-color: gray;
    width: 390px;
    margin-top: 50px;
    margin-left: 50px;
    border-radius: 20px;
    padding-bottom: 40px;
}

#img4 {
    height: 220px;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 20px;
    box-shadow: 8px 6px 8px 6px rgba(0, 0, 0, 0.349);
}

#h4 {
    margin-top: 20px;
    margin-left: 20px;
    font-family: "Bebas Neue", sans-serif;
}

#p3 {
    margin-left: 20px;
    margin-top: 40px;
    font-family: "Bebas Neue", sans-serif;
}