@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url("background.jpg");
    background-position: center;
}

/*-------MENU!-------*/
#hdr1 {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#img1 {
    height: 60px;
    width: 60px;
    margin-left: 20px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#h1 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: #00fff2;
}

#div1 {
    display: flex;
    align-items: center;
}

#li1 {
    color: black;
    display: inline-block;
    list-style: none;
    margin-right: 20px;
    padding: 10px 5px 10px 5px;
    font-weight: bold;
    font-size: 16px;
}

#a1 {
    color: black;
    text-decoration: none;
}

#a1:hover {

color: rgba(0, 0, 0, 0.562);
}

#li2 {
    color: #00fff2;
    display: inline-block;
    list-style: none;
    margin-right: 20px;
    padding: 10px 10px 10px 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: #00fff248;
    border-radius: 16px;
    cursor: pointer;
}

#a2 {
    color: #00fff2;
    text-decoration: none;
}

#a2:hover {
    color: #00fff27a;
}

/*------Corpo------*/
#div2 {
    width: 650px;
}

#h2 {
    color: white;
    margin-top: 100px;
    margin-left: 60px;
    font-size: 40px;
    font-family: "Science Gothic"
}

#h3 {
    color: #00fff2;
    margin-top: 5px;
    margin-left: 60px;
    font-size: 40px;
    font-family: "Science Gothic"
}

#p1 {
    color: white;
    margin-top: 50px;
    margin-left: 60px;
    font-family: "Science Gothic"
}

/*-------Whatsapp-------*/

#btn1 {
    background-color: #00fff252;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    margin-top: 50px;
    margin-left: 60px;
    padding: 10px 15px 10px 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#btn1:hover {
    background-color: #00fff231;
}

#img2 {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

#a3 {
    text-decoration: none;
}

/*---------Imagem---------*/
#img3 {
    height: 350px;
    width: 350px;
    margin-right: 180px;
    margin-left: 170px;
    margin-top: 100px;
    border-radius: 66px;
    border: 5px solid #00fff2;
    box-shadow: 0px 4px 10px #00fff27e;
}

#divimg {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}