@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url("background.jpg");
    background-position: center;
}

/*-------MENU!-------*/
#hdr1 {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#img1 {
    height: 60px;
    width: 60px;
    margin-left: 20px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#h1 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: #00fff2;
}

#div1 {
    display: flex;
    align-items: center;
}

#li1 {
    color: black;
    display: inline-block;
    list-style: none;
    margin-right: 20px;
    padding: 10px 5px 10px 5px;
    font-weight: bold;
    font-size: 16px;
}

#a1 {
    color: black;
    text-decoration: none;
}

#a1:hover {

color: rgba(0, 0, 0, 0.562);
}

#li2 {
    color: #00fff2;
    display: inline-block;
    list-style: none;
    margin-right: 20px;
    padding: 10px 10px 10px 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: #00fff248;
    border-radius: 16px;
    cursor: pointer;
}

#a2 {
    color: #00fff2;
    text-decoration: none;
}

#a2:hover {
    color: #00fff27a;
}

/*---------CORPO---------*/
#div2 {
    width: 1150px;
    margin-left: 100px;
    margin-top: 80px;
    text-align: center;
}

#h2 {
    font-family: "Science Gothic";
    color: #00fff2;
    font-size: 100px;
}

#h3 {
    font-family: "Science Gothic";
    color: white;
    font-size: 50px;
    margin-top: 50px;
}